.jumbotron{
  background: black;
  text-align: center;
  color: #f4c242
}


body {
  background-color: #f4c242;
}

img {
  width: 75%;
}

.row{
  padding: 40px;
}

h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: red;
}

